.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
.form-wrapper {
    min-width: 500px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login-required {
    text-align: center;
    margin-top: 30px;
    border: 1px solid #dfdfdf;
    padding: 15px;
    border-radius: 8px;
}
